img {
    max-width: 180px;
}

input[type=file] {
    padding: 10px;
    background: #bbaaaa;
}

.lineHeight {
    padding-left: 10px;
    line-height: 40px;
}

@media print {
    body * {
        visibility: hidden;
    }
    #result,
    #result * {
        visibility: visible;
    }
    #result {
        position: absolute;
        left: 0;
        top: 0;
    }
}